In [1]:
import numpy as np
import pandas as pd
import re
import os

import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import seaborn as sns

from typing import List

#### Merge all the data

In [3]:
data0 = pd.read_csv('data/house_data0.csv')
data0.head()

,title,address,bed,bath,toilet,pkn_space,price
0,4 bedroom detached duplex for sale,"Megamound Estate, Lekki County Homes., Ikota, ...",4Bedrooms,5Bathrooms,5Toilets,Save,"75,000,000"
1,4 bedroom semi-detached duplex for sale,"In A Well Secured Estate, Ajah, Lagos",4Bedrooms,4Bathrooms,5Toilets,2Parking Spaces,"47,000,000"
2,5 bedroom semi-detached duplex for sale,"In A Well Secured Estate, Ajah, Lagos",5Bedrooms,4Bathrooms,6Toilets,4Parking Spaces,"80,000,000"
3,3 bedroom detached duplex for sale,"Ikola Road, By Command., Alagbado, Ifako-Ijaiy...",3Bedrooms,Save,NaN,NaN,"27,500,000"
4,3 bedroom terraced duplex for sale,"2nd Tollgate, Lekki, Lagos",3Bedrooms,3Bathrooms,4Toilets,Save,"45,000,000"

In [4]:
data0.shape

(1050, 7)

In [2]:
files = [file for file in os.listdir('data/')]

files

['house_data0.csv', 'house_data1.csv', 'house_data2.csv']

In [7]:
all_df = pd.DataFrame()  # empty dataframe

print(f"Before concatenatiion: {all_df.shape} \n")

for file in files:
    df = pd.read_csv(f'data/{file}')
    all_df = pd.concat([all_df, df], axis='index')
    
print(f"After concatenatiion: {all_df.shape} \n")

Before concatenatiion: (0, 0)

After concatenatiion: (3500, 7)

In [8]:
all_df.head()

,title,address,bed,bath,toilet,pkn_space,price
0,4 bedroom detached duplex for sale,"Megamound Estate, Lekki County Homes., Ikota, ...",4Bedrooms,5Bathrooms,5Toilets,Save,"75,000,000"
1,4 bedroom semi-detached duplex for sale,"In A Well Secured Estate, Ajah, Lagos",4Bedrooms,4Bathrooms,5Toilets,2Parking Spaces,"47,000,000"
2,5 bedroom semi-detached duplex for sale,"In A Well Secured Estate, Ajah, Lagos",5Bedrooms,4Bathrooms,6Toilets,4Parking Spaces,"80,000,000"
3,3 bedroom detached duplex for sale,"Ikola Road, By Command., Alagbado, Ifako-Ijaiy...",3Bedrooms,Save,NaN,NaN,"27,500,000"
4,3 bedroom terraced duplex for sale,"2nd Tollgate, Lekki, Lagos",3Bedrooms,3Bathrooms,4Toilets,Save,"45,000,000"